<app-menu></app-menu>
<div class="card">
    <div class="card-header">
      Editar usuario {{user.username}}
    </div>
    <div class="card-body">
        <form  #regForm="ngForm" (ngSubmit)="onUpdate(regForm)" novalidate #f="ngForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="name">Apellidos</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required
                        onkeyup="javascript:this.value=this.value.toLowerCase();" maxlength="6">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="name">Telefono</label>
                        <input type="tel" class="form-control" pattern="[0-9]{9}" id="phone" name="phone" [(ngModel)]="user.phone" required >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                    <button class="btn btn-outline-success btn-block">
                        Actualizar
                    </button>
                </div>
            </div>

        </form>
    </div>
  </div>
